#container{
  width: 100%;
  background-color:hwb(0 8% 92%);
  color:gray;
  padding: 10px;
  margin-top: 5px;
}

.container-inner{
  width: 95%;
  margin: auto;
  display: flex;
  align-items: center;
}

.contents{
  display: flex;
}
.contents img{
  width:60px;
  height: 40px;
}

.column{
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
}

.cards{
  width:150px;
  height: 2px;
}