---------- Section ----------


.faq-container {
  width: 100%;
  max-width: 1180px;
  margin: auto;
}

.faq-tag {
  display: block;
  text-align: center;
  color: #c6ff00;
  letter-spacing: 4px;
  font-size: 13px;
  margin-bottom: 15px;
}

.faq-title {
  text-align: center;
  color: #fff;
  font-size: clamp(30px, 5vw, 55px);
  margin-bottom: 45px;
}

/* ---------- Cards ---------- */

.faq-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.faq-card {
  background: #111;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 22px;
  transition: .35s;
}

.faq-card:hover {
  border-color: rgba(198,255,0,.3);
}

.faq-question {
  width: 100%;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  padding: 22px 28px;
  color: white;
  text-align: left;
}

.faq-question span:first-child {
  flex: 1;
  font-size: clamp(13px, 1.5vw, 18px);
  line-height: 1.6;
  word-break: break-word;
}

.faq-icon {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.12);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-shrink: 0;
}

.faq-icon span {
  font-size: 24px;
  color: #999;
}

.faq-card.active .faq-icon {
  background: #c6ff00;
  border-color: #c6ff00;
}

.faq-card.active .faq-icon span {
  color: #000;
}

/* ---------- Answer ---------- */

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height .7s ease;
}

.faq-answer.open {
  max-height: 250px;
}

.faq-answer p {
  color: #bcbcbc;
  line-height: 1.8;
  font-size: 15px;
  padding: 0 28px 24px;
  word-break: break-word;
}

/* ---------- Responsive ---------- */

@media (max-width:768px){

  .faq-section{
    padding:60px 16px;
  }

  .faq-question{
    padding:18px;
  }

  .faq-answer p{
    padding:0 18px 20px;
    font-size:14px;
  }

  .faq-icon{
    width:36px;
    height:36px;
  }

}

@media (max-width:480px){

  .faq-card{
    border-radius:18px;
    width:300px;
    margin: auto;
  }

  .faq-question{
    padding:16px;
    gap:12px;
    height: 80px;
  }

  .faq-question span:first-child{
    font-size:12px;
  }

  .faq-answer.open{
    max-height:320px;
  }

}