
* {
  font-family: sans-serif;
  background-color: black;
}

.container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
  padding: 35px 0;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  background: #050505;
  color: white;
  overflow: hidden;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

/* subtle background */
.hero-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: radial-gradient(rgba(255, 255, 255, 0.13) 1px, transparent 1px);
  background-size: 55px 55px;
  opacity: 0.15;
  pointer-events: none;
}

.hero-container {
  width: min(1180px, 92%);
  min-height: 100vh;
  margin: auto;
  display: grid;
  grid-template-columns: 48% 52%;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* =========================
   LEFT SIDE
========================= */

.hero-content {
  padding: 50px 0;
  position: relative;
  z-index: 5;
  margin-top: -50px;
}

.member-badge {
  width: fit-content;
  padding: 9px 15px;
  border: 1px solid #252525;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #baff00;
  display: flex;
  align-items: center;
  gap: 9px;
  margin-bottom: 27px;
  animation: badgeFade 1s ease forwards;
}

.member-badge span {
  width: 7px;
  height: 7px;
  background: #baff00;
  border-radius: 50%;
  box-shadow: 0 0 8px #baff00;
}

.hero-title {
  margin: 0;
  font-size: clamp(48px, 5.7vw, 76px);
  line-height: 0.91;
  letter-spacing: -3px;
  font-weight: 900;
}

.hero-title span {
  display: block;
  opacity: 0;
  transform: translateY(35px);
  animation: titleReveal 0.7s ease forwards;
}

.hero-title span:nth-child(1) {
  animation-delay: 0.15s;
}

.hero-title span:nth-child(2) {
  animation-delay: 0.25s;
}

.hero-title span:nth-child(3) {
  animation-delay: 0.35s;
}

.hero-title span:nth-child(4) {
  animation-delay: 0.45s;
}

.hero-title span:nth-child(5) {
  animation-delay: 0.55s;
}

.hero-title .lime {
  color: #c3ff19;
}

.hero-description {
  max-width: 470px;
  margin-top: 25px;
  margin-bottom: 24px;
  color: #888;
  font-size: 19px;
  line-height: 1.55;
  opacity: 0;
  animation: fadeUp 0.8s ease 0.7s forwards;
}

/* BUTTONS */

.hero-buttons {
  display: flex;
  gap: 10px;
  opacity: 0;
  animation: fadeUp 0.8s ease 0.9s forwards;
}

.start-btn,
.tour-btn {
  height: 48px;
  border-radius: 12px;
  padding: 0 19px;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s ease;
}

.start-btn {
  border: none;
  background: #c3ff19;
  color: #080808;
  display: flex;
  align-items: center;
  gap: 20px;
}

.start-btn span {
  font-size: 17px;
  transition: 0.3s ease;
}

.start-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 30px rgba(195, 255, 25, 0.2);
}

.start-btn:hover span {
  transform: translateX(5px);
}

.tour-btn {
  border: 1px solid #292929;
  background: #111;
  color: white;

  display: flex;
  align-items: center;
  gap: 10px;
}

.tour-btn:hover {
  background: #1b1b1b;
  transform: translateY(-3px);
}

.play-icon {
  width: 20px;
  height: 20px;

  border: 1px solid #333;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 7px;
  color: #c3ff19;
}

/* =========================
   RIGHT SIDE
========================= */

.hero-visual {
  height: 650px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Big background word */

.background-text {
  position: absolute;
  font-size: clamp(100px, 18vw, 240px);
  font-weight: 900;
  letter-spacing: -10px;
  color: rgba(255, 255, 255, 0.06);
  user-select: none;
  animation: powerMove 7s ease-in-out infinite;
}

/* =========================
   CARDS
========================= */

.floating-card {
  position: absolute;
  background: rgba(22, 22, 22, 0.78);
  border: 1px solid #272727;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 14px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35);
  animation: float 4s ease-in-out infinite;
}

/* HEART */

.heart-card {
  width: 170px;
  height: 120px;
  left: 12%;
  top: 42%;
  padding: 12px;
  animation-delay: 0s;
}

.card-top {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #777;
  font-size: 16px;
  letter-spacing: 1px;
}

.heart-icon {
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 60, 60, 0.12);
  color: #ff5555;
  border-radius: 5px;
  font-size: 19px;
}

.heart-value {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 800;
}

.heart-value small {
  font-size: 12px;
  color: #777;
  font-weight: 500;
}

.heart-bars {
  height: 17px;
  display: flex;
  align-items: center;
  gap: 3px;
  margin-top: 15px;
}

.heart-bars i {
  width: 5px;
  background: #8e3737;
  border-radius: 3px;
}

.heart-bars i:nth-child(1) {
  height: 7px;
}

.heart-bars i:nth-child(2) {
  height: 11px;
}

.heart-bars i:nth-child(3) {
  height: 15px;
}

.heart-bars i:nth-child(4) {
  height: 8px;
}

.heart-bars i:nth-child(5) {
  height: 13px;
}

.heart-bars i:nth-child(6) {
  height: 17px;
}

.heart-bars i:nth-child(7) {
  height: 10px;
}

.heart-bars i:nth-child(8) {
  height: 14px;
}

.heart-bars i:nth-child(9) {
  height: 8px;
}

.heart-bars i:nth-child(10) {
  height: 13px;
}

.heart-bars i:nth-child(11) {
  height: 6px;
}

.heart-bars i:nth-child(12) {
  height: 10px;
}

/* WORKOUT */

.workout-card {
  width: 190px;
  padding: 12px;
  right: 7%;
  top: 31%;
  animation-delay: 1s;
}

.workout-header {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666;
  letter-spacing: 1px;
  margin-bottom: 12px;
}

.workout-header b {
  color: #c3ff19;
}

.workout-row {
  display: grid;
  grid-template-columns: 55px 1fr;
  align-items: center;
  margin: 9px 0;
  font-size: 12px;
  color: #777;
}

.workout-row i {
  height: 2px;
  background: #292929;
  border-radius: 5px;
  overflow: hidden;
}

.workout-row em {
  display: block;
  width: 80%;
  height: 100%;
  background: #c3ff19;
}

/* CALORIES */

.calories-card {
  width: 180px;
  right: 1%;
  top: 58%;
  padding: 12px;
  animation-delay: 1.8s;
}

.calories-title {
  font-size: 12px;
  color: #777;
  letter-spacing: 1px;
  display: flex;
  gap: 6px;
  align-items: center;
  height: 22px;
}

.calories-title span {
  color: #c3ff19;
}

.calories-value {
  margin-top: 8px;
  font-size: 17px;
  font-weight: 800;
}

.calories-value small {
  font-size: 12px;
  color: #777;
}

.calories-progress {
  height: 3px;
  background: #2c2c2c;
  border-radius: 10px;
  margin-top: 8px;
  overflow: hidden;
}

.calories-progress span {
  display: block;
  width: 72%;
  height: 100%;
  background: #c3ff19;
  animation: progress 2s ease-in-out infinite alternate;
}

.goal-text {
  display: block;
  margin-top: 10px;
  color: #666;
  font-size: 12px;
}

/* =========================
   ANIMATIONS
========================= */

@keyframes titleReveal {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes badgeFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0) rotate(0deg);
  }

  50% {
    transform: translateY(-13px) rotate(1deg);
  }
}

@keyframes powerMove {

  0%,
  100% {
    transform: translateX(0) scale(1);
  }

  50% {
    transform: translateX(-20px) scale(1.04);
  }
}

@keyframes progress {
  from {
    width: 65%;
  }

  to {
    width: 76%;
  }
}

/* =========================
   TABLET
========================= */

@media (max-width: 900px) {

  .hero-container {
    grid-template-columns: 1fr;
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .hero-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: clamp(52px, 9vw, 80px);
  }

  .hero-description {
    max-width: 550px;
  }

  .hero-visual {
    height: 420px;
    margin-top: -20px;
  }

  .heart-card {
    left: 17%;
    top: 38%;
  }

  .workout-card {
    right: 17%;
    top: 20%;
  }

  .calories-card {
    right: 12%;
    top: 55%;
  }
}

/* =========================
   MOBILE
========================= */

@media (max-width: 600px) {

  .hero-container {
    width: 90%;
    padding-top: 35px;
  }

  .member-badge {
    font-size: 7px;
    padding: 8px 12px;
    margin-bottom: 22px;
  }

  .hero-title {
    font-size: clamp(40px, 12vw, 58px);
    line-height: 0.94;
    letter-spacing: -2px;
  }

  .hero-description {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 20px;
  }

  .hero-buttons {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }

  .start-btn,
  .tour-btn {
    height: 44px;
  }

  .hero-visual {
    height: 330px;
    margin-top: 5px;
  }

  .background-text {
    font-size: 100px;
    letter-spacing: -5px;
  }

  .heart-card {
    width: 130px;
    left: 2%;
    top: 38%;
  }

  .card-top {
    font-size: 14px
  }

  .heart-value small {
    font-size: 12px
  }

  .workout-card {
    width: 125px;
    right: 1%;
    top: 15%;
  }

  .calories-card {
    width: 105px;
    right: 4%;
    top: 58%;
  }

  .workout-header {
    font-size: 13px;
    font-weight: 600;
  }
}

/* SMALL MOBILE */

@media (max-width: 400px) {

  .hero-title {
    font-size: 39px;
  }

  .hero-description {
    font-size: 11px;
  }

  .hero-visual {
    height: 370px;
    width: 320px;
    margin: auto;
  }

  .heart-card {
    transform: scale(0.85);
    /* left: -1%; */
  }

  .workout-card {
    transform: scale(0.85);
    /* right: -5%; */
  }

  .calories-card {
    transform: scale(0.85);
    /* right: -3%; */
    width: 150px;
    margin-top: 35px;
  }
}

.info {
  display: flex;
  gap: 20px;
  justify-content: center;
  /* justify-content: space-evenly; */
  letter-spacing: 1px;
}

.info p {
  /* margin-left: 20px; */
  font-size: 15px;
  color: #777;
}

.info p span {
  font-weight: 700;
  font-size: 30px;
  color: white;
}

@media(max-width:767px){
  .info{
    margin: auto;
    width:300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .info p {
    font-size:12px;
  }
}

hr {
  color: #2a2a2a;
  margin-top: 40px;


}

.suggest {
  display: flex;
  /* gap: 20px;  */
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.suggest p {
  color: white;
  width: 300px;
  border: 2px solid #2a2a2a;
  padding: 20px 30px;
  font-size: 22px;
  border-radius: 20px;
  background: #0e0e0e;
}

.suggest svg {
  border: 2px solid #2a2a2a;
  border-radius: 17px;
  margin: 10px 0;
  padding: 6px;
}

.suggest .num {
  font-weight: 700;
  font-size: 35px;
  color: white;
}

.suggest p {
  font-size: 17px;
  color: white;
}

.suggest p span {
  color: #8a8a8a;
  letter-spacing: 1px;
}

@media(max-width:767px) {
  .suggest {
    display: flex;
    justify-content: space-between;
    gap: 12px;
  }

  .suggest p {
    max-width: 150px;
    width: auto;
  }

  .suggest .num {
    font-size: 25px
  }
}

@media(max-width:375px) {
  .suggest p {
    width: 100px
  }
}

/* @media(max-width:992px){
    
} */

.training {
  color: white;
  /* display: flex; */
}

.training h2 {
  font-size: 60px;
  font-weight: 800;
  width: 600px;
  line-height: 1.1;
}

.training .off {
  color: #c6ff00;
  letter-spacing: 3px;
}

.training h3 {
  font-size: 20px;
  font-weight: 700
}

.training p {
  color: #777;
}

.training .lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.training .offers {
  padding: 20px;
  width: 400px;
  border: 2px solid #2a2a2a;
  border-radius: 18px;
  margin: auto;
}

.offers a {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  color: #c6ff00;
}

@media(max-width:576px) {
  .training {
    h2 {
      font-size: 35px;
      margin-top: 10px;
      width: 300px
    }
  }
}

/* Sixth section  */

.power-head {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.power-d {
  display: flex;
  align-items: center;
}

.iron-container {
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.iron-section {
  position: relative;
  width: 600px;
  height: 500px;
  /* background: #111; */
  border-radius: 20px;
  overflow: hidden;
  margin: auto;
}

/* Center lightning bolt */
.center-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: #c6ff00;
  text-shadow: 0 0 15px #c6ff00;
  z-index: 2;
}

/* Animated circles */
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #c6ff00;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: pulse 5s infinite;
  opacity: 0.6;
}

.circle:nth-child(1) {
  width: 120px;
  height: 120px;
  animation-delay: 0s;
}

.circle:nth-child(2) {
  width: 180px;
  height: 180px;
  animation-delay: 1s;
}

.circle:nth-child(3) {
  width: 240px;
  height: 240px;
  animation-delay: 2s;
}

@keyframes circlePulse {
  0% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.6;
  }

  50% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.6;
  }
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 2px solid #c6ff00;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: circlePulse 3s infinite;
  /* yahan new naam use karo */
  opacity: 0.6;
}

/* Stat boxes */
.stat-box {
  position: absolute;
  padding: 8px 12px;
  border-radius: 19px;
  background: #111;
  color: #c6ff00;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 0 4px #c6ff00;
  z-index: 2;
}

.top-left {
  top: 20px;
  left: 20px;
}

.top-right {
  top: 20px;
  right: 20px;
}

.bottom-left {
  bottom: 20px;
  left: 20px;
}

.bottom-right {
  bottom: 20px;
  right: 20px;
}


@media(max-width:576px) {
  .iron-section {
    width: 300px;
  }

  .power-head {
    display: flex;
    flex-direction: column;
    margin-top: 0px
  }

  .stat-box {
    font-size: 12px;
  }

  hr {
    margin-top: 5px;
  }
}

.design {
  color: white;
}

.classtrain {
  color: #c6ff00;
  letter-spacing: 3px;
  margin-bottom: 10px
}

.design h3 {
  font-size: 60px;
  font-weight: 700;
  line-height: 1.1;
}

.ct {
  width: 600px;

}

.pt {
  border: 2px solid #222;
  margin-top: 15px;
  padding: 15px;
  border-radius: 13px;
  background-color: #0e0e0e;
}

.pt .pt-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  display: flex;

}

.pt p {
  color: #777;
}

.svg-p {
  display: flex;
  gap: 20px;
}

@media(max-width:576px) {
  .design {
    margin: auto;
  }

  .design h3 {
    font-size: 32px;
    margin-top: 20px;
  }

  .ct {
    width: 300px;
    margin: auto;
  }

  .pt {
    margin-top: 22px;
  }

  .svg-p {
    display: flex;
    align-items: center;
  }
}

/* Seventh Section  */

.price {
  color: white;
}

.prime {
  text-align: center;
}

.price .pri {
  color: #c6ff00;
  letter-spacing: 4px;
}

.discrip {
  color: #777;
  margin-top: 12px;
}

.price h4 {
  font-size: 40px;
  line-height: 1;
  font-weight: 600;
}

.sub {
  margin-top: 20px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.basic {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 440px;
  border: #777 solid 2px;
  padding: 15px 20px;
  border-radius: 20px;
  font-size: 20px;
  backdrop-filter: blur(12px);
}

.sub button {
  width: 250px;
  height: 50px;
}

.basic h4 {
  font-size: 40px;
  font-weight: 600;
}

.o-lists span {
  margin-right: 20px;
  color: #c6ff00;
}

.basic .btn {
  display: flex;
  margin: auto;
  text-align: center;
  /* cursor: pointer; */
  /* transition: .3s; */
}

/* .basic .btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(198, 255, 0, .4);
} */

/* .member-text {
  position: absolute;
  transform: translateX(-35%);
  font-size: 250px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.231);
  pointer-events: none;
  left: 35%;
  width: 100%;
  display: flex;
} */



.sub a {
  font-weight: 700;
  cursor: pointer;
  transition: .3s;
  margin-top: 10px;
  padding: 16px 38px;
  border: 1px solid rgba(255, 255, 255, 0.397);
  width: 350px;
  /* height: 200px; */
  margin-top: 10px;
  color: white;
  border-radius: 15px;
  background-color: #111;
  display: flex;
  justify-content: center;

}


.basic :hover {
  transform: translateY(-4px);
  box-shadow: 0 0 20px rgba(198, 255, 0, .4);
}


@media(max-width:576px) {
  .basic {
    width: 100%;
    margin: auto;
    display: flex;

  }

  .sub a {
    width: 280px;
    /* display: flex; */

  }
}


/* Eighth section */

.faq {
  color: white;
  padding: 10px;
}

.faq .p1 {
  font-size: 14px;
  letter-spacing: 3px;
  color: #c6ff00;
}

.faq h4 {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.2;
  margin-top: 25px;
}